baseURL = "https://ndtho8205.github.io/"
title = "Rabbit"
languageCode = "en-us"
theme = "blog-theme"

paginate = 100
disqusShortname = ""
enableEmoji = true

[params]
  favicon = "images/favicon.ico"
  logo = "images/logo.svg"
  panelbearAnalytics = "1pfyDmOljAe"

[taxonomies]
  category = "categories"
  tag = "tags"
  series = "series"

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    noClasses = false
    tabWidth = 2
  [markup.goldmark.renderer]
    unsafe = true

[menu]
  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/"
    weight = 10

  [[menu.main]]
    identifier = "reading"
    name = "Reading"
    url = "/reading/"
    weight = 30

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 40

[author]
  name = "Tho Nguyen"
  avatar = "images/avatar.jpg"
  CV = ""
